html


body {

  font-family: 'JetBrains Mono', monospace;
  margin: 0px;
  min-width: 100vh;
  min-height: 100vh;
   margin: auto;
 background: #2C2B3D;
  

  
}

#page {
  padding-top: 71px;
}

header 
{
display: flex;
justify-content: space-between;
width: 1083px;
height: 30px;
color: #FFFFFF;
align-items: center;
margin: 0px auto 101px;
}

ul 
{

  list-style: none;
  display: flex;
  gap: 64px;
}


main p
{
font-family: 'Open Sans', sans-serif;
color: #C2C2C2;
font-size: 16px;
width: 604px;
height: 168px;

}

main p span
{
  color: #00BFA6;
  font-weight: bold;
}

main {

  display: flex;
  margin: 0px auto 157px;
  align-items: center;
  justify-content: space-evenly;

}

#right
{
text-align: center;
}

h1 {

  color: #FFFFFF;
  font-size: 36px;
  height: 40px;
  font-weight: 700;
  font-style: normal;

}

h1 span {

  color: #00BFA6;
}


footer
{
  position: absolute;
  width: 568px;
  height: 55px;
  margin-left: 475.6px;
  margin-bottom: 23px;
  color: #FFFFFF;
  text-align: center;
}

#line
{
  height: 0px;
  width: 568px;
  border-top: 1px solid #00BFA6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 27.5px;


}


#logofinal

{
 position: absolute;
  margin-bottom: 20px;
  margin-left: 20px;
}

